*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
}

.container {
  max-width: 1100px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  background-image: url(/images/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 200px;
}

.header__top {
  display: flex;
  align-items: center;
  padding-top: 23px;
}

.logo {
  margin-right: 117px;
}

.menu {
  padding-bottom: 5px;
}

.menu__icons--hidden {
  display: none;
}

.menu__list {
  display: flex;
  margin-top: 0;
  margin-bottom: 20px;
}

.menu__item + .menu__item {
  margin-left: 20px;
}

.menu__link {
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
  transition: all 0.5s;
  text-align: center;
}

.menu__link:hover {
  color: #252b42;
  
}

#menu__toggle {
  opacity: 0;
}

.menu__btn {
  display: none;
  align-items: center;
  position: fixed;
  top: 25px;
  right: 25px;
  width: 35px;
  height: 22px;
  z-index: 2;
}

.menu__btn > span {
  position: absolute;
  display: block;
  width: 75%;
  height: 2px;
  background-color: #737373;
  top: 9px;
}

.menu__btn > span::before {
  position: absolute;
  display: block;
  width: 125%;
  height: 2px;
  background-color: #737373;
}

.menu__btn > span::after {
  position: absolute;
  display: block;
  width: 50%;
  height: 2px;
  background-color: #737373;
}

.menu__btn > span::before {
  content: "";
  top: -7px;
  right: 0;
}

.menu__btn > span::after {
  content: "";
  top: 7px;
  left: 13px;
}

.header__title {
  margin-top: 116px;
}
.title__text {
  font-weight: 800;
  font-size: 58px;
  line-height: 80px;
  color: #252b42;
  max-width: 509px;
}
.title__subtext {
  font-size: 20px;
  line-height: 30px;
  color: #737373;
  max-width: 376px;
  margin-top: 35px;
}
.title__buttons {
  margin-top: 35px;
  display: flex;
  gap: 10px;
}
.title__btn {
  font-family: "Montserrat", sans-serif;
  background-color: inherit;
  width: 157px;
  height: 48px;
  border: 1px solid #00a0c1;
  border-radius: 37px;
  font-weight: 700;
  line-height: 28px;
  color: #00a0c1;
  cursor: pointer;
  transition: all 0.4s;
}

.title__btn:hover {
  background-color: #ffa62b;
  width: 187px;
  height: 48px;
  color: #fff;
  border: 1px solid #ffa62b;
}

.benefits__head {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  margin-top: 80px;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  top: 15px;
  z-index: 1;
}

.benefits__block {
  width: 328px;
  height: 210px;
  background-color: #fff;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  cursor: pointer;
  transition: all 0.5s;
  color: #737373;
}

.benefits__block:hover {
  background-color: #00a0c1;
  color: #fff;
}

.benefits__block:hover .benefits__title {
  color: #fff;
}

.benefits__block:hover .benefits__image svg path {
  fill: #fff;
}

.benefits__inner {
  padding-top: 40px;
  padding-left: 40px;
}

.benefits__inner--second {
  padding-top: 35px;
}

.benefits__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252b42;
  padding-top: 10px;
}

.benefits__text--first {
  width: 217px;
  padding-top: 10px;
}

.benefits__text--second {
  padding-top: 10px;
  width: 214px;
}

.benefits__text--third {
  padding-top: 10px;
  width: 213px;
}

.achievements {
  margin-bottom: 170px;
}

.achievements__text {
  text-align: center;
  padding-bottom: 70px;
}
.achievements__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  color: #252b42;
  padding-bottom: 15px;
}
.achievements__subtitle {
  color: #737373;
  max-width: 511px;
  margin: 0 auto;
}

.achievements__items {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
}

.achievements__item {
  text-align: center;
  background: #ffffff;
  min-width: 230px;
  min-height: 209px;
 
}


.achievements__box {
  padding-top: 30px;
}

.achievements__box--second {
  padding-top: 50px;
}

.achievements__box--fourth {
  padding-top: 35px;
}

.achievements__icon {
  padding-bottom: 10px;
}
.achievements__result {
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  color: #252b42;
  padding-bottom: 10px;
}
.achievements__descr {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #737373;
}

.advice {
  margin-bottom: 100px;
}

.advice__text {
  text-align: center;
}
.advice__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  color: #252b42;
  padding-bottom: 15px;
}

.advice__subtitle {
  color: #737373;
  max-width: 470px;
  margin: 0 auto;
}

.advice__boxes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 45px;
  gap: 34px;
}

.advice-box {
  max-width: 230px;
  background-color: #fff;
  height: 341px;
  cursor: pointer;
}

.advice-box__text {
  padding-top: 30px;
  padding-left: 30px;
}
.advice-box__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #252b42;
  padding-bottom: 15px;
  max-width: 135px;
}
.advice-box__subtitle {
  color: #737373;
  max-width: 179px;
  padding-bottom: 30px;
}

.advice-box__image{
  transition: all .4s;
}

.advice-box:hover .advice-box__image{
    transform: translateY(10px);
}

.advice-box__subtitle--custom {
  padding-bottom: 50px;
}

.media {
  padding-bottom: 150px;
  background-color: #fff;
}

.media__text {
  padding-top: 100px;
  text-align: center;
}
.media__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  color: #252b42;
  max-width: 480px;
  padding-bottom: 15px;
  margin: 0 auto;
}
.media__subtitle {
  color: #737373;
  max-width: 511px;
  margin: 0 auto;
  padding-bottom: 100px;
}

.media-video {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.media-video__video {
  object-fit: cover;
}
.media-video__content {
  min-width: 597px;
  max-height: 442px;
  position: relative;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 14.58%,
    rgba(56, 56, 56, 0.84) 100%
  );
}

.video__image {
  max-width: 597px;
  max-height: 442px;
}

.video__btn {
  background-color: inherit;
  border: none;
  position: absolute;
  top: 172px;
  left: 250px;
  cursor: pointer;
  border-radius: 50%;
}

.video__btn:hover {
  opacity: 0.85;
}

.video-text__head {
  max-width: 333px;
}

.video__title {
  padding-bottom: 10px;
}
.video__subtitle {
  padding-bottom: 50px;
}

.video-text__item {
  display: flex;
  align-items: flex-start;
}

.video-text__item:not(:last-child) {
  padding-bottom: 30px;
}

.video-text__img {
  padding-right: 20px;
}

.video-text__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  max-width: 286px;
  color: #252b42;
  padding-bottom: 5px;
}
.video-text__subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #737373;
}

.subscribe {
  background-color: #fafafa;
  padding-top: 70px;
}

.subscribe__wrapper {
  position: relative;
}
.subscribe-logos {
  display: flex;
  /* justify-content: space-between; */
  justify-content: space-around;
  gap: 55px;
  flex-wrap: wrap;
  margin-bottom: 130px;
}

.subscribe__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-width: 100%;
  min-height: 124px;
  background: #16697a;
  border-radius: 2px;
  gap: 30px;
  position: absolute;
  top: 145px;
  left: 7px;
  z-index: 4;
}
.subscribe__text {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #ffffff;
  max-width: 310px;
  padding-left: 50px;
}

.subscribe__input {
  padding-right: 48px;
}

.subscribe__input > input {
  min-width: 333px;
  padding-top: 22px;
  padding-bottom: 21px;
  border: 1px solid #e6e6e6;
  border-radius: 5px 0 0 5px;
  outline: none;
  padding-left: 20px;
}

input::placeholder {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #737373;
  padding: 15px 0 15px 0px;
}

.subscribe__btn {
  font-family: "Montserrat";
  background: #ffa62b;
  border: 1px solid #e6e6e6;
  border-radius: 0px 5px 5px 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
  padding: 15px 21px;
  color: #fff;
  cursor: pointer;
}

.subscribe__btn:active {
  opacity: 0.85;
}

.subscribe__bg--bottom {
  min-height: 77px;
  background: #252b42;
}

.support {
  background: #f3f3f3;
  padding-bottom: 130px;
}

.support__text {
  padding-top: 80px;
  text-align: center;
}
.support__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  color: #252b42;
}
.support__subtitle {
  max-width: 470px;
  color: #737373;
  margin: 0 auto;
  padding-top: 10px;
}
.support__offer {
  margin-top: 110px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.support-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 328px;
  min-height: 333px;
  background-color: #fff;
  align-items: center;
  transition-duration: 0.5s;
  position: relative;
  z-index: 2;
}

.support-box:hover svg path {
  fill: #fff;
}

.support-box:hover .support-box__mail {
  color: #fff;
}

.support-box:hover .support-box__title {
  color: #fff;
}

.support-box:hover .support-box__btn {
  border: 1px solid #fff;
  color: #fff;
}

.support-box__inner {
  text-align: center;
}

.support-box__inner::after {
  content: "";
  position: absolute;
  z-index: -1;
  min-width: 328px;
  min-height: 333px;
  background-color: #fff;
  top: 0px;
  left: 0px;
  transition-duration: 0.5s;
}

.support-box__inner:hover::after {
  background-color: #252b42;
  transform: scaleY(1.2);
}

/* .support-box__text {
  text-align: center;
  padding-bottom: 15px;
} */

.mail__text {
  padding-bottom: 15px;
}

/* .support-box p:not(:first-child){
  padding-bottom: 15px;
  text-align: center;
} */

.support-box svg {
  padding-bottom: 15px;
}

.support-box__mail {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #252b42;
}

.support-box__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 15px;
  letter-spacing: 0.1px;
  color: #252b42;
}

.support-box__btn {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  background-color: inherit;
  padding: 10px 20px;
  border: 1px solid #ffa62b;
  border-radius: 5px;
  color: #ffa62b;
  cursor: pointer;
}

.consulting {
  background-color: #fafafa;
  margin-bottom: 40px;
}

.consulting__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 40px;
}

.consulting__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #252b42;
  letter-spacing: 0.1px;
  padding-bottom: 10px;
}
.consulting__subtitle {
  color: #737373;
}
.consulting__btn {
  font-family: "Montserrat";
  padding: 15px 40px;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.2px;
  background: #ffa62b;
  border-radius: 5px;
  border: none;
  transition: all 0.5s;
  cursor: pointer;
  border: 1px solid #ffa62b;
}

.consulting__btn:hover {
  background-color: #fff;
  color: #ffa62b;
}

.footer {
  background: #16697a;
}
.footer-links__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}
.footer-links__box {
  padding-top: 50px;
  padding-bottom: 30px;
}

.footer-links__box--last {
  margin-right: 90px;
}
.footer-links__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #fff;
  padding-bottom: 20px;
}

.footer-links__list {
  padding-left: 0;
}
.footer-links__item {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #ffffff;
  padding-bottom: 10px;
  transition: all 0.4s;
}

.footer-links__item:hover {
  opacity: 0.5;
}

.footer-links__img {
  padding-right: 10px;
}

.footer-links__image {
  display: flex;
  align-items: center;
}

.footer__copyright {
  background: #fafafa;
}

.copyright__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.copyright__text {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #737373;
}
.copyright__social {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 30px;
}

.social__link {
  transition: all 0.4s;
}
.social__link:hover {
  opacity: 0.5;
}
