.wrapper__btn{
    position: relative;
    left: 85%;
}
.wrapper__buttons{
  display:flex;
  justify-content: flex-end;
  gap: 15px;
}

.input{
    width: 100%;
    margin-bottom: 30px !important;


}