<template>
  <div class="container">
    <Modal :open="isOpen" @close="isOpen = !isOpen">{{}}</Modal>
    <div class="posts">
      <div
        class="post"
        v-for="post in getPosts"
        :key="post.id"
        @click="isOpen = true"
      >
        <h4>{{ post.body }}</h4>
      </div>
    </div>
  </div>
</template>

<script>
import { ref } from "vue";
import Modal from "../components/modalWindow.vue";
import { mapGetters, mapActions } from "vuex";


export default {
  name: "HomeView",
  components: { Modal },
  setup() {
    const isOpen = ref(false);

    return { isOpen };
  },
  data: () => ({
    name: "",
  }),
  computed: {
    ...mapGetters(["getPosts"]),
  },
  methods: {
    ...mapActions(["updatePosts"]),
  getBody(){ console.log(this.getPosts)
    // for(let post in this.getPosts){
     
    // }
  }
  },
  mounted() {
    this.updatePosts();
    this.getBody();
  },
};
</script>

<style>
.container {
  width: 100%;
}
.post {
  height: 100px;
  padding: 30px;
  display: flex;
  border: 1px solid #000;
  cursor: pointer;
  margin-bottom: 20px !important;
  background-color: rgb(242, 237, 98);
  border-radius: 10px;
}
</style>
