@media (max-width: 1285px) {
  .about-item__text {
    max-width: 510px;
  }

  .about-item__descr {
    flex-wrap: wrap;
  }

  .about-image {
    flex-wrap: wrap;
  }

  .par__text {
    padding-top: 40px;
    margin: 0;
    padding-left: 0;
  }

  .par__text--bold {
    max-width: 565px;
  }

  .par__text--norm {
    max-width: 591px;
  }

  .about-item__head {
    margin: 0;
  }

  .testimonials-wrapper__title {
    font-size: 160px;
    line-height: 150px;
  }
}

@media (max-width: 1223px) {
  .works-images {
    flex-wrap: wrap;
  }

  .works-image__img img {
    width: 300px;
    height: 300px;
  }

  .works-image__input--big {
    position: absolute;
    bottom: -8px;
    right: 0;
    width: 260px;
    height: 86px;
    background: rgba(255, 255, 255, 0.85);
    margin: 194px 20px 40px 20px;
    justify-content: space-between;
    align-items: center;
    display: flex;
  }

  #checkbox-two {
    position: relative;
    right: 26px;
  }

  #checkbox-three {
    position: relative;
    right: 30px;
  }
}

@media (max-width: 1095px) {
  .menu {
    padding-right: 100px;
  }
}

@media (max-width: 1065px) {
  .about-image__quote {
    margin-left: 35px;
  }
  .footer-lists {
    gap: 60px;
    margin-right: 80px;
  }
}

@media (max-width: 1040px) {
  .about-image {
    flex-wrap: wrap;
  }
  .about-image img {
    margin-bottom: 40px;
  }
  .quote__name {
    padding-top: 40px;
  }

  .benefits-items {
    margin-top: 100px;
  }
}

@media (max-width: 1022px) {
  .contacts__wrapper {
    justify-content: center;
  }
  .contacts-form__button {
    text-align: center;
  }
  .contacts-form__input {
    margin-top: 30px;
  }
}

@media (max-width: 1000px) {
  .benefits-items {
    flex-wrap: wrap;
    justify-content: center;
  }

  .testimonials-wrapper__title {
    font-size: 120px;
    line-height: 120px;
  }
}

@media (max-width: 923px) {
  .works-images {
    flex-direction: column;
  }

  .footer__wrapper {
    flex-direction: column;
  }

  .footer-contacts,
  .footer__title {
    text-align: center;
  }

  .footer-lists {
    justify-content: center;
    margin-right: 0;
  }
  .footer-list {
    padding-top: 60px;
  }
}

@media (max-width: 893px) {
  .works-item__descr {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .works-item__text {
    padding-top: 100px;
  }

  .works-item__button {
    padding-top: 80px;
    text-align: center;
  }
}

@media (max-width: 880px) {
  .menu {
    padding-right: 30px;
  }
}

@media (max-width: 791px) {
  .menu__list {
    display: block;
    margin-left: 0;
    position: fixed;
    top: 50px;
    right: -100%;
    padding: 30px 0;
    background-color: #fff;
    width: 100%;
    height: 380px;
    transition-duration: 0.5s;
  }

  #menu__toggle:checked ~ .menu__list {
    right: 0;
    transition-duration: 0.5s;
  }
  .menu__item {
    padding-bottom: 25px;
  }

  .menu__item + .menu__item {
    padding-left: 0;
  }

  .menu__list li {
    display: flex;
    justify-content: center;
  }

  .menu__btn {
    display: block;
    position: sticky;
  }
  .menu__link:hover {
    background-color: rgba(242, 246, 247, 0.575);
  }
  .par__text {
    padding-left: 0;
  }
}

@media (max-width: 750px) {
  .testimonials-wrapper__title {
    font-size: 85px;
    line-height: 50px;
  }
  .skills-item__progressbar {
    padding-left: 24px;
  }
}

@media (max-width: 730px) {
  .contacts-form {
    text-align: center;
  }

  .contacts-form__input {
    text-align: center;
  }
  .contacts-form__textarea {
    min-width: 355px;
  }
  .contacts-form__input--text {
    margin-bottom: 30px;
  }

  .contacts-form__input--text:not(:last-child) {
    margin-right: 0;
  }
}

@media (max-width: 650px) {
  .main__text {
    font-size: 40px;
  }

  .about-image {
    justify-content: flex-start;
  }

  .about-image img {
    width: 500px;
    height: 368px;
  }

  .works-item__title {
    font-size: 150px;
  }
  .works-item__button {
    padding-top: 45px;
  }

  .works-item__text {
    padding-top: 70px;
  }
  .skills-items {
    justify-content: flex-start;
  }

  .skills-item__progressbar {
    padding-top: 30px;
    padding-left: 0;
  }
}

@media (max-width: 620px) {
  .par__text--bold {
    min-width: 40%;
  }
  .par__text--norm {
    min-width: 40%;
  }
}

@media (max-width: 520px) {
  .about-item__title {
    font-size: 100px;
  }

  .about-item__text {
    font-size: 24px;
    min-width: 40%;
    line-height: 38px;
  }
  .about-image img {
    max-width: 300px;
    max-height: 221px;
  }
  .quote__text {
    font-size: 16px;
    line-height: 30px;
  }

  .quote__name {
    padding-top: 24px;
    font-size: 16px;
  }
  .quote__position {
    font-size: 10px;
    padding-top: 10px;
  }

  .benefits-items {
    margin-top: 70px;
  }

  .works-item__title {
    font-size: 110px;
  }

  .works-item__img--circle {
    display: none;
  }

  .works-item__text {
    padding-top: 0;
  }

  .testimonials-wrapper__title {
    font-size: 60px;
    line-height: 0px;
  }

  .team {
    padding: 10px 0;
  }
}
@media (max-width: 479px) {
  .footer-lists {
    flex-wrap: wrap;
  }
  .footer-list:nth-child(3) {
    padding-top: 0;
  }
}

@media (max-width: 410px) {
  .team-image__img {
    width: 300px;
  }

  .team-image__person {
    left: 26%;
  }
}

@media (max-width: 386px) {
  .main__content-btn {
    margin: 0 auto;
    margin-bottom: 25px;
  }

  .testimonials-wrapper__title {
    font-size: 50px;
  }

  .team {
    padding-top: 2px;
    padding: 24px;
  }

  .contacts-form__input--text,
  .contacts-form__input--mail,
  .contacts-form__textarea {
    min-width: 270px;
  }

  .interactive-item__img {
    width: 290px;
    height: 205px;
  }

  .interactive__wrapper {
    text-align: center;
  }

  .interactive-item__descr {
    padding-bottom: 23px;
  }
  .interactive-items {
    gap: 70px;
  }
}

@media (max-width: 340px) {
  .about-item__title {
    font-size: 80px;
  }
  .about-image img {
    margin-bottom: 26px;
  }

  .works-item__title {
    font-size: 90px;
  }
}

@media (max-width: 331px) {
  .footer-list:nth-child(2) {
    padding-top: 0;
  }
}

@media (max-width: 320px) {
  .about-image img {
    max-width: 270px;
    max-height: 191px;
  }

  .testimonials-wrapper__title {
    font-size: 40px;
  }
}
