* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #fff;
}

a {
  text-decoration: none;
  color: #000;
}

ul li {
  list-style: none;
}

p {
  color: #999999;
}

button {
  cursor: pointer;
}

.header {
  min-height: 74px;
}
.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  margin-top: 10px;
  padding-top: 6px;
}

.menu {
  padding-right: 280px;
}

.menu__list {
  display: flex;
}

.menu__item + .menu__item {
  padding-left: 30px;
}

.menu__link {
  color: #222222;
  font-size: 15px;
  letter-spacing: 0.2px;
  transition: all 0.5s;
}

.menu__link:hover {
  color: #fd8558;
}

#menu__toggle {
  opacity: 0;
}

.menu__btn {
  display: none;
  align-items: center;
  position: fixed;
  top: 25px;
  right: 25px;
  width: 35px;
  height: 22px;
  z-index: 2;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: rgba(0, 1, 2, 0.795);
}

.menu__btn > span::before {
  content: "";
  top: -8px;
}

.menu__btn > span::after {
  content: "";
  top: 8px;
}

#menu__toggle:checked ~ .menu__btn span {
  transform: rotate(45deg);
  transition-duration: 0.5s;
}

#menu__toggle:checked ~ .menu__btn span::before {
  top: 0;
  transform: rotate(90deg);
  transition-duration: 0.5s;
}

#menu__toggle:checked ~ .menu__btn span::after {
  top: 0;
  transform: rotate(0deg);
  transition-duration: 0.5s;
}

.main {
  height: 100vh;
  background: url(./images/background-img.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main__content {
  max-width: 632px;
  max-height: 86px;
  margin: 0 auto;
  padding-top: 175px;
}

.main__text {
  font-style: normal;
  font-size: 70px;
  line-height: 85px;
  font-weight: 400;
  text-align: center;
}

.main__content-buttons {
  margin-top: 40px;
  text-align: center;
}

.main__content-btn {
  padding: 12px 37px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  background-color: inherit;
  border: 2px solid #fd8558;
  font-weight: 700;
  font-size: 15px;
  line-height: 30px;
  margin-left: 30px;
  transition: all 0.5s;
}

.main__content-btn:hover {
  background-color: #fd8558;
}

.about-item__title {
  font-weight: 400;
  font-size: 150px;
  line-height: 145px;
  letter-spacing: 0.1px;
  color: #f7f7f7;
  margin-top: 52px;
}

.about-item__descr {
  display: flex;
  justify-content: space-between;
  padding-top: 45px;
}

.about-item__head {
  margin-left: 30px;
}

.about-item__subtitle {
  display: inline-block;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 15px;
  color: #fd8558;
  padding-bottom: 32px;
}

.about-item__text {
  font-size: 40px;
  line-height: 54px;
  min-width: 510px;
  color: #333333;
}
.par__text {
  padding-left: 105px;
}
.par__text--bold {
  font-size: 18px;
  line-height: 28px;
  color: #222222;
  padding-bottom: 11px;
}

.par__text--norm {
  min-width: 591px;
}

.about-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 55px;
  margin-bottom: 80px;
}

.about-image__quote {
  margin-left: 60px;
}
.quote__text {
  color: #222222;
  font-size: 26px;
  line-height: 45px;
  max-width: 387px;
}

.quote__text span {
  font-style: italic;
  color: #fd8558;
}

.quote__name {
  color: #222222;
  font-size: 20px;
  line-height: 20px;
  padding-top: 100px;
}
.quote__position {
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 1.8px;
  color: #cacaca;
  padding-top: 20px;
  text-transform: uppercase;
}

.benefits-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  margin-top: 170px;
  padding-bottom: 69px;
}
.benefits-item {
  text-align: center;
}

.benefits-item__img {
  padding-bottom: 20px;
}

.benefits-item__top {
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  color: #333333;
  padding-bottom: 16px;
}
.benefits-item__text {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #999999;
  max-width: 337px;
}

.works-item__img--circle img {
  max-width: 100%;
  padding-top: 27px;
}

.works-item__descr {
  display: flex;
  justify-content: space-between;
}
.works-item__text {
  padding-top: 141px;
}
.works-item__text--orange {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 15px;
  color: #fd8558;
  padding-bottom: 8px;
}
.works-item__text--normal {
  font-size: 32px;
  line-height: 38px;
  color: #333333;
  max-width: 312px;
}
.works-item__button {
  text-align: right;
  padding-top: 195px;
}
.works-item__btn {
  padding: 12px 37px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  background-color: #fd8558;
  border: 2px solid #fd8558;
  font-weight: 700;
  font-size: 15px;
  line-height: 30px;
  transition: all 0.5s;
}

.works-item__btn:hover {
  background-color: #fff;
  border: 2px solid #fd8558;
  color: #fd8558;
}

.works-item__title {
  font-size: 200px;
  line-height: 180px;
  text-align: right;
  font-family: "Poppins";
  color: #f7f7f7;
  font-weight: 400;
}

.works-images {
  display: flex;
  justify-content: center;
  align-items: center;
}

.works-image {
  max-width: 100%;
}

.works-image__img {
  position: relative;
}

.works-image__label {
  display: inline-block;
  color: #000;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  padding: 60px 35px 40px 85px;
  white-space: nowrap;
}

.works-image__input {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 260px;
  height: 86px;
  background: rgba(255, 255, 255, 0.85);
  margin: 194px 20px 40px 20px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.works-image__input--big {
  position: absolute;
  bottom: -8px;
  right: 0;
  width: 560px;
  height: 86px;
  background: rgba(255, 255, 255, 0.85);
  margin: 194px 20px 40px 20px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.works-image__input label {
  position: relative;
  top: -10px;
  right: 67px;
}

#checkbox {
  position: relative;
  right: 15px;
}

#checkbox-two {
  position: relative;
  right: 27px;
}

#checkbox-four {
  position: relative;
  right: 12px;
}

.works-image__input input {
  margin-right: 8px;
  zoom: 3;
}

.skills {
  padding: 100px 0;
}

.skills-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.skills-descr__title {
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fd8558;
}
.skills-descr__subtitle {
  font-size: 32px;
  line-height: 38px;
  color: #222222;
  max-width: 388px;
}
.skills-descr__text {
  font-size: 14px;
  line-height: 26px;
  color: #999999;
  max-width: 456px;
  padding-top: 12px;
}

.skills-item__progressbar {
  flex: 1 1 auto;
  padding-left: 70px;
}
.progressbar-wrapper:not(:last-child) {
  padding-bottom: 40px;
}

.progressbar-wrapper__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 12px;
}

.progressbar-wrapper__text {
  font-size: 18px;
  line-height: 25px;
  color: #222222;
}
.progressbar-wrapper__percent {
  font-size: 15px;
  line-height: 23px;
  color: #999999;
}

.progressbar-wrapper__range {
  width: 100%;
  -webkit-appearance: none;
  background: linear-gradient(90deg, #ff4d06 0%, #ffac34 54.23%);
  height: 10px;
}

.progressbar-wrapper__range::-webkit-slider-thumb {
  display: none;
}

.team {
  padding: 70px 0;
}

.team-descr {
  text-align: center;
  padding-bottom: 40px;
}
.team-descr__title {
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fd8558;
  padding-bottom: 30px;
}
.team-descr__subtitle {
  font-size: 32px;
  line-height: 42px;
  text-transform: capitalize;
  color: #222222;
}

.team-image__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.team-image__contain {
  position: relative;
}

.team-image__img {
  cursor: pointer;
  transition: all 0.5s;
}
.team-image__img:hover {
  transform: scale(1.1);
}

.team-image__person {
  position: absolute;
  z-index: 1;
  left: 30%;
  top: 44%;
}

.team-image__person--name {
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  text-transform: capitalize;
  color: #fff;
}
.team-image__person--position {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #fcfcfc;
}

.team-button {
  text-align: center;
  padding: 80px 0;
}
.team-button__btn {
  background: #fd8558;
  font-family: "Poppins", sans-serif;
  padding: 13px 37px;
  border: none;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  line-height: 30px;
  cursor: pointer;
  transition: all 0.5s;
}

.team-button__btn:hover {
  background: rgb(232, 230, 227);
  color: #fd8558;
}

.testimonials {
  background: #3a0f73;
  background-repeat: no-repeat;
  background-size: cover;
}

.testimonials-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
}
.testimonials-wrapper__title {
  font-size: 200px;
  line-height: 220px;
  color: rgba(170, 170, 170, 0.1);
}
.testimonials-wrapper__text {
  letter-spacing: 0.2px;
  font-size: 18px;
  line-height: 29px;
  color: #ffffff;
  max-width: 824px;
  text-align: center;
  padding-top: 50px;
}
.testimonials-person {
  display: flex;
  margin-top: 60px;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
}

.testimonials-person__descr {
  padding-bottom: 15px;
}
.testimonials-person__descr--name {
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
}
.testimonials-person__descr--position {
  font-size: 13px;
  line-height: 22px;
  color: #ffffff;
}

.interactive {
  padding: 110px 0;
}

.interactive-text {
  text-align: center;
}
.interactive-text__title {
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fd8558;
  padding-bottom: 45px;
}
.interactive-text__subtitle {
  color: #222222;
  font-size: 32px;
  line-height: 42px;
  padding-bottom: 30px;
}
.interactive-items {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  flex-wrap: wrap;
}

.interactive-item__img {
  padding-bottom: 20px;
}
.interactive-item__date {
  padding-bottom: 20px;
}

.item__date--dot {
  color: #999999 !important;
  font-size: 14px;
  line-height: 21px;
  padding-left: 30px;
}

.item__date--dot:before {
  content: "";
  width: 5px;
  height: 5px;
  background: #dfdede;
  display: inline-block;
  margin-bottom: 2px;
  margin-right: 13px;
}

.interactive-item__date span {
  color: #fd8558;
  font-size: 15px;
  line-height: 21px;
  padding-right: 10px;
}

.interactive-item__descr {
  color: #222222;
  font-size: 24px;
  line-height: 33px;
  padding-bottom: 35px;
  max-width: 326px;
}

.interactive-item__link {
  color: #fd8558;
  font-size: 15px;
  line-height: 21px;
  transition: all 0.5s;
}

.interactive-item__link:hover {
  color: #531904;
}

.contacts {
  padding: 5px 0 110px 0;
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.info-address {
  max-width: 237px;
}
.info-address__title {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  color: rgba(34, 34, 34, 0.4);
}
.info-address__descr {
  font-size: 24px;
  line-height: 33px;
  color: #222222;

  padding-bottom: 45px;
}
.info-connect {
  max-width: 293px;
}
.info-connect__title {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  color: rgba(34, 34, 34, 0.4);
}
.info-connect__mail {
  font-size: 24px;
  line-height: 33px;
  color: #222222;
}

.info-connect__tel {
  font-weight: 400;
  font-size: 23px;
  line-height: 33px;
  color: #222222;
}

.contacts-form__input {
  margin-bottom: 30px;
}
.contacts-form__input--text {
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 0px;
  font-family: "Poppins";
  color: #999999;
  font-size: 14px;
  line-height: 21px;
  min-width: 338px;
  min-height: 58px;
  text-indent: 40px;
  margin-right: 30px;
}
.contacts-form__input--mail {
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 0px;
  font-family: "Poppins";
  color: #999999;
  font-size: 14px;
  line-height: 21px;
  min-width: 338px;
  min-height: 58px;
  text-indent: 40px;
}
.contacts-form__textarea {
  font-family: "Poppins";
  resize: none;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 0px;
  color: #999999;
  font-size: 14px;
  line-height: 21px;
  min-width: 710px;
  min-height: 128px;
  text-indent: 40px;
  padding-top: 20px;
}

.contacts-form__button {
  padding-top: 65px;
}
.contacts-form__btn {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  border: none;
  background-color: #fd8558;
  color: #ffffff;
  padding: 17px 38px;
  transition: all 0.5s;
}

.contacts-form__btn:hover {
  background: rgb(232, 230, 227);
  color: #fd8558;
}

.footer {
  background-color: #111111;
  margin-top: 5px;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
}

.footer__title {
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #ffffff;
  padding-top: 93px;
}

.footer-contacts {
  padding-top: 19px;
}

.footer-contacts p {
  display: inline-block;
}

.footer-contacts a {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts span {
  border-left: 1px solid rgba(255, 255, 255, 0.6);
  padding-left: 7px;
  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts__tel {
  padding-right: 10px;
  transition: all 0.5s;
}

.footer-contacts__tel:hover {
  color: #fff;
}

.footer-lists {
  display: flex;
  gap: 100px;
  margin-bottom: 70px;
  margin-right: 130px;
}

.footer-list {
  padding-top: 109px;
}
.footer-list__head {
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  color: #ffffff;
  padding-bottom: 19px;
}

.footer-list__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #bababa;
  padding-bottom: 9px;
  display: inline-block;
  transition: all 0.5s;
}

.footer-list__link:hover {
  color: #fff;
}

.footer-copyright {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.3px;
  color: #bababa;
  padding-bottom: 80px;
}

.footer-copyright span {
  color: #ffffff;
}
