* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #f0f0f3;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100vh;
}

ul li {
  list-style: none;
}

form {
  display: flex;
  margin-bottom: 2rem;
  gap: 10px;
  padding-top: 30px;
}

[type="text"] {
  width: 100%;
  font-weight: 700;
}

[type="text"]:focus,
[type="text"]:active {
  outline: none;
  border: 2px solid #8e959e;
  /* box-shadow:  10px 10px 12px #d3d3d6,
  -10px -10px 21px #fff; */
}

.form__button {
  text-decoration: none;
  font-size: 16px;
  color: rgb(160, 140, 140);
  background: #f0f0f3;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  text-shadow: 0px 0px 1px #000;
  box-shadow: 10px 10px 12px #d3d3d6, -10px -10px 21px #fff;
  transition: all 0.15s ease;
  cursor: pointer;
}

.form__button:hover {
  opacity: 0.6;
  background: #f0f0f3;
  box-shadow: 0px 1px 2px #000000;
}

.form__button:active {
  opacity: 0.6;
}

.form__input {
  padding: 10px 7px;
  border-radius: 3px;
  border: 2px solid #ccc;
  background-color: #f0f0f3;
  box-shadow: 10px 10px 12px #d3d3d6, -10px -10px 21px #fff;
  cursor: pointer;
  transition: all 0.2s ease;
}

.form__input:hover {
  border: 2px solid #d7d7dc6f;
  box-shadow: 10px 10px 12px #d3d3d6, -10px -10px 21px #fff;
  cursor: pointer;
}

.list {
  background: #f0f0f3;
  box-shadow: 10px 10px 12px #d3d3d6, -10px -10px 21px #fff;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 4px;
  display: flex;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
}

.list__button {
  background: #f0f0f3;
  box-shadow: 10px 10px 12px #d3d3d6, -10px -10px 21px #fff;

  border-radius: 4px;
  color: rgb(156, 120, 120);
  text-shadow: 0px 0px 1px #000;
  padding: 10px 10px;
  font-size: 16px;
  font-weight: 100;
  border: none;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: all 0.15s ease;
}
.list__button:hover {
  opacity: 0.6;
  background: #f0f0f3;
  box-shadow: 0px 1px 2px #000000;
}

.title__hint {
  text-align: center;
  font-size: 40px;
  opacity: 0.3;
}

.list span {
  padding: 10px;
  border-radius: 4px;
  border: 2px solid transparent;
  width: 100%;
  text-align: center;
  transition: all 0.18s ease;
}

.list span:hover {
  outline: none;
  border: 2px solid #d7d7dc6f;
  box-shadow: 10px 10px 12px #d3d3d6, -10px -10px 21px #fff;
  cursor: pointer;
}

.list span:focus {
  outline: none;
  border: 2px solid #d7d7dc6f;
  box-shadow: 10px 10px 12px #d3d3d6, -10px -10px 21px #fff;
}

.select__filter {
  cursor: pointer;
  margin-top: 15px;
  outline: inherit;
  border: 2px solid #d7d7dc6f;
  transition: all 0.18s ease;
}

.select__filter:hover,
.select__filter:focus {
  box-shadow: 10px 10px 12px #d3d3d6, -10px -10px 21px #fff;
}

.checkbox__edit {
  cursor: pointer;
  transition: all 0.18s ease;
}

.checkbox__edit:hover {
  box-shadow: 10px 10px 12px #d3d3d6, -10px -10px 21px #fff;
}
