<template>
  <div class="basket-item__wrapper">
    <div class="basket-image__wrapper">
          <img
      class="basket-item__img"
      :src="require('../../assets/images/' + basket_item.image)"
      alt="img"
    />
    </div>
    <div class="basket-content__wrapper">
          <div class="basket-item">
      {{ basket_item.name }}
    </div>
    <div
      class="subtotal__content--price"
     
    >
    ${{ basket_item.price }}
    </div>
    <div class="remove__item-wrapper">
      <span class="remove__item" @click.stop="removeBasketItem(basket_item)"
        >Remove</span
      >
    </div>
    </div>

  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  name: "basket-item",
  props: {
    basket_item: {
      type: Object
    },
  },
  computed: {
    ...mapGetters(["basketItems"]),
  },
  methods: {
    ...mapActions(["removeBasketItem", "updateBasket"]),
  },
};
</script>

<style>
.basket-item__img {
  width: 100px;
  height: 100px;

}
.basket-item__wrapper {
  display: flex;
  justify-content: flex-start;
  padding-left: 40px;
  margin: 40px 0;
}
.basket-item {
  max-width: 151px;
  text-align: start;
  padding-bottom: 5px;
}
.basket-content__wrapper{
  padding-left: 10px;

}
.subtotal__content--price {
  padding-bottom: 20px;
}
.remove__item-wrapper{
  text-align: left;
}
.remove__item {
  cursor: pointer;
  border-bottom: 1px solid #000;
  transition: 0.7s;
}
.remove__item:hover {
  opacity: 0.7;
}
</style>
