<template>
  <div class="shop-basket">
    <div class="shop-basket__link" @click="open = true">
      Basket ({{ basketItems.length }})
    </div>

    <div v-if="open" class="modal" @click="open = false">
      <div class="modal__wrapper">
        <div class="modal__header"></div>
        <div class="modal__content">
          <p class="modal__content-title">Total</p>
          <div class="modal__content-wrapper">
            <div class="subtotal__content">
              <p class="subtotal__content--text content-text">Subtotal:</p>
              <div class="subtotal__content--price">${{ totalPrice }}</div>
            </div>
            <div class="sale__content">
              <p class="sale__content-text content-text">Sale:</p>
            </div>
            <div class="remove__content">
              <p class="remove__content-text content-text">
                Content:<span
                  class="remove__content-link"
                  @click.stop="removeAllBasketItem"
                  >Remove All</span
                >
              </p>
            </div>
          </div>
          <div class="content__total-price">
            <p class="total-price__text">Order Total:</p>
            <div class="total-price__order">${{ totalPrice }}</div>
          </div>
          <div class="content-item__wrapper">
            <div v-for="item in basketItems" :key="item.article">
              <basketItem :basket_item="item" />
            </div>
          </div>
          
        </div>
        <div class="modal__footer">
          <p class="modal__footer--text">Checkout</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import basketItem from "../Basket/basket-item.vue";

export default {
  name: "shop-basket",

  components: {
    basketItem,
  },
  props: {
    basket_shop: {
      type: Object 
    },
  },
  data() {
    return {
      open: false,
    };
  },
  computed: {
    ...mapGetters(["basketItems", "totalPrice"]),
  },
  methods: {
    ...mapActions(["removeAllBasketItem"]),
  },
};
</script>

<style>

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
}

.modal__wrapper {
  position: fixed;
  z-index: 10;
  top: 0%;
  right: -6%;
  width: 455px;
  max-height: 784px;
  background: #ffffff;

}
.modal__header {
  height: 125px;
  width: 100%;
  border-bottom: 1px solid #bdbdbd;
}
.modal__content-title {
  display: flex;
  padding-top: 20px;
  padding-left: 40px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #000000;
}
.modal__content-wrapper {
  padding-left: 40px;
  max-height: 216px;
  padding-bottom: 40px;
  border-bottom: 1px solid #bdbdbd;
}

.subtotal__content {
  display: flex;
  padding-top: 30px;
  justify-content: space-between;
}
.subtotal__content--price {
  padding-right: 140px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: #000000;
}

.sale__content {
  display: flex;
  justify-content: flex-start;
  padding-top: 20px;
}

.remove__content {
  display: flex;
  justify-content: flex-start;
  padding-top: 20px;
}
.remove__content-link {
  position: relative;
  left: 130px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  text-decoration-line: underline;
  color: #000000;
  cursor: pointer;
  transition: all 0.5s;
}
.remove__content-link:hover {
  opacity: 0.7;
}
.content-item__wrapper{
  max-height: 200px;
  overflow-y:auto;
}
.content-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.content__total-price {
  height: 64px;
  border-bottom: 1px solid #bdbdbd;
  display: flex;
  justify-content: center;
  align-items: center;
}
.total-price__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  position: relative;
  right: 100px;
}
.total-price__order {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: right;
  color: #000000;
  position: relative;
  left: 0;
}
.shop-basket__link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: black;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  z-index: 11;
}
.shop-basket__link:hover {
  opacity: 0.7;
}
.shop-basket__link:active {
  color: orangered;
}

.modal__footer {
  /* margin-top: 20px; */
  width: 100%;
  height: 84px;
  background-color: #000000;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all .5s;
}
.modal__footer:hover{
  opacity: 0.87;
}
.modal__footer--text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  padding-left: 40px;
  position: relative;
}

.modal__footer--text::after{
  content: url('../../assets/images/arrow.svg');
  position: absolute;
  left: 315px;
}
</style>
