body {
  margin: 0;
  overflow: hidden;
}

#start {
  padding-top: 160px;
  text-decoration: none;
  color: azure;
  font-family: "Press Start 2P", cursive;
  font-size: 30px;
  background-color: inherit;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}

#start:hover {
  color: rgb(242, 167, 233);
}

#canvasWindow.open {
  display: block;
}
#startGame.close {
  display: none;
}

#startGame {
  background-image: url(/game-project/images/startgame.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  /* display: none; */
}

#canvasWindow {
  display: none;
}

#scoreLine {
  position: fixed;
  /* z-index: 20; */
  color: #fff;
  left: 10px;
  top: 20px;
  font-family: "Press Start 2P", cursive;
  display: none;
}

#scoreLine.open {
  display: block;
}

#scoreLine.resultScore {
  left: 44.5%;
  top: 70%;
  font-size: 30px;
}

#healthLine {
  position: fixed;
  /* z-index: 20; */
  color: #fff;
  right: 50px;
  top: 20px;
  font-family: "Press Start 2P", cursive;
  display: none;
}

#healthLine.visibleHealth {
  display: block;
}

#loseGame {
  max-width: 100%;
  height: 100vh;
  display: none;
  text-align: center;
  background: url(/game-project/images/gameover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#loseGame.open {
  display: block;
}

#pauseGame {
  display: none;
  position: fixed;
  color: #fff;
  font-family: "Press Start 2P", cursive;
  left: 45%;
  top: 45%;
  font-size: 30px;
}

#pauseGame.pauseGameVisible {
  display: block;
  position: fixed;
  color: #fff;
  font-family: "Press Start 2P", cursive;
  left: 45%;
  top: 45%;
  font-size: 30px;
}

#pauseGame.pauseGameInvisible {
  display: none;
}

#tryAgain {
  position: absolute;
  bottom: 130px;
  left: 41%;
  cursor: pointer;
  background-color: black;
  color: #fff;
  font-family: "Press Start 2P", cursive;
  font-size: 30px;
  transition: all 0.7s;
}

#tryAgain:hover {
  color: blueviolet;
  font-size: 34px;
  letter-spacing: 5px;
  left: 38.5%;
}

#controls {
  color: #fff;
  padding-top: 60px;
  font-family: "Press Start 2P", cursive;
  line-height: 32px;
  transition: all 0.7s;
  transform: rotateX(45deg);
}
