<template>
  <div class="catalog-item">
    <img
      class="catalog-item__img"
      :src="require('../../assets/images/' + product_data.image)"
      alt="img"
    />
    <p class="catalog-item__name">{{ product_data.name }}</p>
    <p class="catalog-item__price">${{ product_data.price }}</p>
    <button
      class="catalog-item__btn"
      v-if="!isAdded" @click="updateBasket(product_data),changeStyleButton()"
    >
      Add to basket
    </button>
    <button
      class="catalog-item__btn catalog-item__btn--active"
      v-if="isAdded" @click="removeBasketItem(product_data),changeStyleButton()"
    >
      Added
    </button>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "catalog-item",
  props: {
    product_data: {
      type: Object,
    },
  },
  data() {
    return {
      isAdded: false,
    };
  },
  methods: {
    ...mapActions(["updateBasket", "removeBasketItem"]),
    changeStyleButton(){
      return this.isAdded = !this.isAdded
    },
  },
};
</script>

<style>
.catalog-item {
  font-family: "Inter", sans-serif;
  box-shadow: 0 0 8px 0 #e0e0e0;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.catalog-item__btn {
  padding-left: 20px;
  text-align: start;
  width: 335px;
  height: 60px;
  background-color: #2e2e2e;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  transition: all 0.5s;
}

.catalog-item__btn:hover {
  opacity: 0.9;
}
.catalog-item__btn::after {
  content: url("../../assets/images/plus.svg");
  position: relative;
  left: 50%;
  color: #fff;
}

.catalog-item__name {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 0;
  margin-top: 15px;
}

.catalog-item__price {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

.catalog-item__btn--active {
  font-family: "Inter", sans-serif;
  padding-left: 20px;
  text-align: start;
  width: 335px;
  height: 60px;
  background: #ffffff;
  border: 1px solid #000000;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  cursor: pointer;
  transition: all 0.5s;
}

.catalog-item__btn--active::after {
  content: url("../../assets/images/Done.svg");
  position: relative;
  left: 68%;
}
</style>
