<template>
    <div class="shop-catalog">
<div class="shop-catalog__list">
  <CatalogItem
  v-for="product in productsItems"
  :key="product.article"
  :product_data="product"
  />
</div>
    </div>
  </template>
  
  <script>
  import CatalogItem from '../ShopCatalog/catalog-item.vue'
  import { mapGetters } from "vuex";

  export default {
    name:'shop-catalog',
    components:{
      CatalogItem
    },
    computed:{
      ...mapGetters([
      'productsItems'
    ])
    },
  }
  </script>
  
  <style>
    .shop-catalog__list{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end;
    }
  
  </style>