<template>
  <div class="main-wrapper">
    <filters/>
    <shopCatalog />
  </div>
</template>

<script>
import shopCatalog from "../ShopCatalog/shop-catalog.vue";
import filters from "../Filters/filters.vue";

export default {
  name: "main-wrapper",
  components: {
    shopCatalog,
    filters,
  },
  data() {
    return {
      title: "Main wrapper",
    };
  },
};
</script>

<style>
.main-wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
</style>
