<template>
  <div id="app">
    <HeaderCatalog />
    <MainWrapper class="main" />
    <CatalogFooter />
  </div>
</template>

<script>
import MainWrapper from "./components/MainWrapper/main-wrapper.vue";
import CatalogFooter from "./components/Footer/catalog-footer.vue";
import HeaderCatalog from "./components/Header/header-catalog.vue";

export default {
  name: "app",
  components: {
    MainWrapper,
    CatalogFooter,
    HeaderCatalog,
  },
};
</script>

<style>
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Montserrat:wght@400;600;700&display=swap");
* {
  margin: 0;
}
#app {
  margin-top: 60px;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-bottom: -500px;
}
.main {
  min-height: calc(100vh - 355px);
}
</style>
