// .list{
//     list-style: none; 
//     display: flex;
//     justify-content: space-between;
//     border: 1px solid rgb(184, 193, 198);
//     border-radius: 5px;
//     align-items: center;
//     padding: 0 5px;
//     margin-top: 15px;
 
//     &_linethrough{
//      list-style: none; 
//      display: flex;
//      justify-content: space-between;
//      border: 1px solid rgb(184, 193, 198);
//      border-radius: 5px;
//      align-items: center;
//      padding: 0 5px;
//      margin-top: 15px;
//      text-decoration: line-through;
//     }
//  }
 
 .groupItems{
     display: flex;
     align-items: center;
 }


 .category{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
