<template>
  <div class="header-catalog">
    <div class="header-catalog__wrapper">
      <div class="header-catalog__links-wrapper">
        <a href="#" class="header-catalog__logo">S—Shop</a>
        <a href="#" class="header-catalog__link--catalog">Catalog</a>
      </div>

      <div class="header-catalog__links-wrapper">
        <a href="#" class="header-catalog__link--profile">Profile</a>
        <ShopBasket />
      </div>
    </div>
  </div>
</template>

<script>
import ShopBasket from "../Basket/shop-basket.vue";

export default {
  name: "header-catalog",
  components: {
    ShopBasket,
  },
};
</script>

<style>
.header-catalog {
  border-bottom: 1px solid #bdbdbd;
  max-width: 1440px;
  margin: 0 auto;
  height: 65px;
  margin-bottom: 80px;
}
.header-catalog__wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.header-catalog__logo {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #000000;
  margin-right: 247px;
}
.header-catalog__link--catalog {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #ff6b00;
}
.header-catalog__link--profile {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-right: 40px;
  position: relative;
  z-index: 13;
}

.header-catalog__links-wrapper {
  display: flex;
  align-items: center;
}
</style>
