
.wrapper{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}
.todo__wrapper{
    max-width: 600px;
    margin-top: 20px;
    border: 1px solid rgb(242, 172, 68);
    border-radius: 10px;
    overflow: hidden;
}

.title__box{
    margin-bottom: 30px !important;
}

.todo__box>div>span{
    display: block;
    
}

.style__box{
    background-color: aqua;
    position: relative;
    z-index: 1;
}
.name__box{
    color: rgb(213, 158, 47);
}

.descr__delete{
    display: flex;
    width: 550px;
    justify-content: space-between;
    align-items: center;
}

.btn__del{
    position: absolute;
    right: 5%;
    z-index: 10;
    cursor: pointer;
}

