<template>
  <div class="catalog-footer">
    <div class="catalog-footer__wrapper">
      <a href="#" class="catalog-footer__name">S—Shop</a>
      <div class="catalog-footer__links">
        <a href="#" class="catalog-footer__link">Copyright</a>
        <a href="#" class="catalog-footer__link">Contacts</a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "catalog-footer"
};
</script>

<style>
.catalog-footer {
  width: 100%;
  max-height: 110px;
  /* height: 100%; */
  background-color: #1b1b1b;
  margin-top: 60px;
}
a {
  text-decoration: none;
  transition: all 0.3s;
}
a:hover {
  opacity: 0.7;
}
.catalog-footer__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 30px 0 30px 0;
  max-width: 1440px;
  margin: 0 auto;
}

.catalog-footer__name {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #fff;
}
.catalog-footer__link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}

.catalog-footer__link + .catalog-footer__link {
  margin-left: 40px;
}
</style>
