<template>
  <div class="filter">
    <div class="filter__wrapper">
      <filterSearch/>
      <filterByCategory/>
    </div>
  </div>
</template>

<script>
import filterByCategory from '../Filters/filterByCategory.vue';
import filterSearch from './filterSearch.vue';

export default {
  name: "filters-wrapper",
  components:{
    filterByCategory,
    filterSearch
  },
};
</script>

<style>
.filter {
  max-width: 1440px;
  align-items: flex-end;
  margin-bottom: 120px;
}

.filter__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
</style>
