<template>
  <div class="filterbycategory__wrapper">
    <div class="filter-category__wrapper">
      <h4 class="filter-category__title title">Product category</h4>
      <select class="filter__styles" v-model="selectedCategory">
        <option value="sneaker">Sneakers</option>
        <option value="no-sneaker">No-sneakers</option>
      </select>
    </div>
    <div class="filter-sale__wrapper">
      <h4 class="filter-sale__title title">Sale</h4>
      <select class="filter__styles" v-model="selectSale">
        <option value="bestseller">Bestsellers</option>
        <option value="full price">Full price</option>
      </select>
    </div>
    <button
      class="select__apply"
      @click="
        filter([{ category: selectedCategory }, { discount: selectSale }])
      "
    >
      Apply
    </button>
  </div>
</template>

<script>
import { mapActions } from "vuex";
export default {
  name: "filterByCategory",
  data() {
    return {
      selectedCategory: "",
      selectSale: "",
    };
  },
  methods: {
    ...mapActions(["filter"]),
  },
  mounted() {
    this.$store.dispatch("filter", []);
  },
};
</script>

<style>
.filterbycategory__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 25px;
}
.filter-category__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.title {
  margin-bottom: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000;
}
.filter__styles {
  border-radius: 5px;
  border: 1px solid #f5f5f5;
  width: 335px;
  height: 61px;
  color: #000;
  background: #f5f5f5;
}

.filter-sale__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
</style>
