<template>
  <div>
    <div class="filter-search">
        <h4 class="filter-serach__title title">Search</h4>
        <input
          class="filter-search__input"
          placeholder="Search..."
          type="text"
          v-model="searchProduct"
          :on-change="search(searchProduct)"
        />
      </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
export default {
   name:"filter-search",
   data() {
    return {
      searchProduct: "",
    };
  },
  methods: {
    ...mapActions(["search"]),
  },
}
</script>

<style>
.select__apply {
  width: 335px;
  height: 61px;
  background: #1b1b1b;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
  transition: all 0.7s;
  border-radius: 5px;
}

select {
  width: 335px;
  height: 61px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.select__apply:hover {
  opacity: 0.8;
}

.filter-search {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.filter-search__input {
  border-radius: 5px;
  border: 1px solid #f5f5f5;
  width: 335px;
  height: 61px;
  background: #f5f5f5;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  padding-left: 20px;
}
</style>