<template>
  <div class="modal" v-show="open">
    <div class="modal__inner">
        <div class="modal__content" >
       <slot></slot> 
            <button type="button" @click="$emit('close')">Закрыть</button>
        </div>
    </div>
  </div>
</template>

<script>
export default {
     props:{
        open:{
            type:Boolean,
            required:true
        },
        text:{
          type:String,
          default:'',
        }
     }
}
</script>

<style>
.modal{
  position: fixed;
  width: 100%;
  height: 100%;
  overflow-x: hidden ;
  overflow-y: hidden ;
  background-color: rgb(36, 34, 34);
  top: 0;
  left: 0;
  z-index: 1;
}

.modal__inner{
    max-width: 500px;
    margin: 2rem auto;
}
.modal__content{
    position:relative;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-clip: padding-box;
    border-radius: 0.3rem;
    padding: 1rem;
}
</style>