
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');


.header__wrapper{
    height: 100px;
    background: -webkit-linear-gradient(90deg, #e9f58f,#f5984d,#f57a7a);
    background: linear-gradient(90deg, #e9f58f,#f5984d,#f57a7a);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.header__text{
    font-family: 'Montserrat', sans-serif;
    left: 20px;
    margin: 0;
    font-size: 30px;
    font-weight: 400;
    color: #f9f9f7;
    font-style: italic;
    position: absolute;

}