.lists {
    // display: flex;
    // flex-direction: column;
    // align-items: flex-start;
    max-width: 400px;
    height: 500px;
    overflow-y: scroll;
    padding: 0 !important;

}

.list {
    width: 100%;
    height: 40px;
    margin-top: 20px;


}

.link {
    margin-right: 50px;
}

.todosList{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px !important;
 

}

.active{
 background-color: #1976d2;;
 border-color:#1976d2; ;
 color: #fff;
}

.active>a> div> span {
    color:#fff;
}

.link{
    text-decoration: none;
}